
.fa-github{
    color: black;
}

.profile-page{
    border: 1px solid black;
    padding: 0.4rem;
    width: 100%;
}

.profile-page .image img {
    /* border-radius: 50%; */
    height: 7rem;
    width: 7rem;
    object-fit: cover;
}

.full-name{
    font-size: 1rem;
    margin: 5px 0;
    font-weight: bold;
    
}
.bio{
    font-size: 14px;
}
