{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="m-lg-3">
    <div class="row">
      <div class="col-sm-4 col-md-2 text-center my-5 left">
       {% include "blog/profile.html" %}
      </div>
      <div class="col-sm-4 offset-sm-2 col-md-7 offset-md-0 center">
        <a class="text-decoration-none btn btn-secondary float-end" href= {% url 'create' %}><i class="fa-solid fa-plus"></i> Add a Post</a>
        {% for post in posts %}
        <div class="card my-5">
            <div class="card-header d-flex justify-content-between align-content-center">
              <div class="thumbnail d-flex justify-content-start align-items-center">
                <img class="" src= "{{post.author.profile.image.url}}" alt="user-image">
                <p>Posted by: {{ post.author.profile.user }} </p>
              </div>
              <p class="">Posted: {{post.dateCreated|timesince}} ago</p>
            </div>
            <div class="card-body">
              <a class="text-decoration-none text-black" href= {% url 'post-detail' post.id %}><h5 class="card-title">{{ post.title | upper }}</h5></a>
              <p class="card-text">{{ post.body }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-sm-4 offset-sm-2 col-md-3 offset-md-0 right">
        {% include "blog/recent_articles.html" %}
      </div>
    </div>
  </div>

{% endblock content %}