{% extends 'blog/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center mt-5">
    <div class="shadow p-5 w-50">
        <form
        action=""
        method="POST"
      >
        {% csrf_token %}
          <legend class="text-center fs-5">You have been logged out!</legend>
        <div class="form-group">
            
          <button type="submit" class="btn btn-success w-100 mt-3"><a href= {% url 'login' %} class="text-decoration-none text-white fs-5">Login Again</a></button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
